:root {
  --bg-color-main: #f1f1f1;
  --bg-color-sub: #fff;
  --border-color: #ccc;
  --accent-color-main: #2882e8;
  --hover-color-main: #0056b3;
  --font-main-color: #6c6969;
  --font-sub-color: #fff;
  --font-family-main: 'Montserrat';
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-size-normal: 40px;
  --font-size-smaller: 35px;
  --font-size-small: 30px;
  --shadow-color: 0 4px 14px rgba(0, 0, 0, 0.1);
  --animation-time: 0.2s ease-in-out;
}
