.button {
  width: 100%;
  min-height: 200px;
  padding: 0 20px;
  background-color: var(--accent-color-main);
  color: var(--font-sub-color);
  border: none;
  outline: none;
  border-radius: 6px;
  text-align: center;
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-big);
  font-family: var(--font-family-main), sans-serif;
  transition:
          transform var(--animation-time),
          background-color var(--animation-time),
          box-shadow 0.2s ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);

  &:hover:not(:disabled) {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-4px);
  }

  &:active:not(:disabled) {
    transform: scale(0.99) translateY(0);
    box-shadow: 0 4px 10px var(--shadow-color);
  }

  &:disabled {
    background-color: var(--accent-color-sub);
    pointer-events: none;
    box-shadow: none;
  }

  @media(max-width: 1000px) {
    font-size: var(--font-size-normal);
  }

  @media(max-width: 768px) {
    font-size: var(--font-size-smaller);
    min-height: 150px;
  }

  @media(max-width: 425px) {
    font-size: var(--font-size-smallest);
    font-weight: var(--font-weight-light);
    min-height: 100px;
  }
}
