.input {
  height: 200px;
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  box-shadow: var(--shadow-color);
  color: var(--font-main-color);
  font-weight: var(--font-weight-extra-light);
  font-size: var(--font-size-normal);
  font-family: var(--font-family-main), sans-serif;
  border: none;
  outline: none;
  text-align: center;
  transition: transform var(--animation-time);

  &::placeholder {
    color: var(--font-main-color);
    text-align: center;
    font-weight: var(--font-weight-extra-light);
    font-family: var(--font-family-main), sans-serif;
    font-size: var(--font-size-normal);
  }

  &:focus {
    transform: scale(1.05);
  }

  &:focus-visible {
    transform: scale(1.05);
  }

  &:hover {
    cursor: pointer;
  }
}
