.container {
  width: 100%;
  min-height: 200px;
  box-shadow: var(--shadow);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  .display {
    height: 100%;
    width: 100%;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-extra-light);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-main-color);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease, transform 0.4s ease;

    @media(max-width: 1000px) {
      font-size: var(--font-size-normal);
    }

    @media(max-width: 768px) {
      font-size: var(--font-size-smaller);
    }

    @media(max-width: 425px) {
      font-size: var(--font-size-smallest);
      font-weight: var(--font-weight-light);
    }
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  @media(max-width: 768px) {
    min-height: 150px;
  }

  @media(max-width: 425px) {
    min-height: 100px;
  }
}
