.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    padding: 20px;
    color: var(--font-main-color);
    background-color: var(--bg-color-main);

    .calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 24px;
        background: var(--bg-color-sub);
        border-radius: 12px;
        box-shadow: var(--shadow-color);

        &__inputsBox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        &__button {
            width: 100%;
            min-height: 200px;
            padding: 0 20px;
            background-color: var(--accent-color-main);
            color: var(--font-sub-color);
            border: none;
            outline: none;
            border-radius: 6px;
            text-align: center;
            font-weight: var(--font-weight-extra-light);
            font-size: var(--font-size-normal);
            font-family: var(--font-family-main), sans-serif;
            transition: transform var(--animation-time), background-color var(--animation-time);

            &:hover:not(:disabled) {
                transform: scale(1.02);
            }

            &:active:not(:disabled) {
                transform: scale(1);
            }

            &:disabled {
                background-color: darkgray;
                pointer-events: none;
            }

            @media(max-width: 1000px) {
                font-size: var(--font-size-smaller);
            }

            @media(max-width: 400px) {
                font-size: var(--font-size-small);
                min-height: 150px;
            }
        }
    }
}

